
/* line 12 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand.styl */

/* line 1 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 293 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 14 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 14 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 2 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 12 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 3 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 31 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 197 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 94 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 94 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 94 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 2 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 9 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 23 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 9 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 73 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 15 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 79 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 5 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 14 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 10 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line undefined : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 576 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 576 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/size.styl */

/* line 33 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/size.styl */

/* line 4 : /Users/davetayls/projects/davetayls.github.com/_stylus/variables.styl */

/* line 15 : /Users/davetayls/projects/davetayls.github.com/_stylus/variables.styl */

/* line 27 : /Users/davetayls/projects/davetayls.github.com/_stylus/mixins.styl */

/* line 27 : /Users/davetayls/projects/davetayls.github.com/_stylus/mixins.styl */

/* line 2 : /Users/davetayls/projects/davetayls.github.com/_stylus/mixins/aspect-ratio.styl */

/* line 8 : /Users/davetayls/projects/davetayls.github.com/_stylus/mixins.styl */
.visuallyhidden {
  position: absolute;
  display: block;
  top: -10000px;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* line 17 : /Users/davetayls/projects/davetayls.github.com/_stylus/mixins.styl */
.clearfix {
  zoom: 1;
}

/* line 24 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 28 : /Users/davetayls/projects/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */
.clearfix:after {
  clear: both;
}

/* line 6 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand.styl */
/**
	=> lib files
	--------------------------------------------------*/

/* line 30 : /Users/davetayls/projects/davetayls.github.com/_stylus/mixins/aspect-ratio.styl */

/* line 30 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */

/* line 27 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 34 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  zoom: 1;
}

/* line 41 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */
body {
  line-height: 1.08;
}

/* line 44 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */

/* line 45 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */
ol {
  list-style-type: decimal;
}

/* line 46 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */
ol ol {
  list-style-type: lower-alpha;
}

/* line 47 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */
ol li {
  zoom: normal;
}

/* line 48 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */
ul {
  list-style-type: disc;
}

/* line 49 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */

/* line 51 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */
blockquote,
q {
  quotes: none;
}

/* line 52 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 58 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */
:focus {
  outline: 0;
}

/* line 61 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */
ins {
  text-decoration: none;
}

/* line 62 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */
del {
  text-decoration: line-through;
}

/* line 65 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 71 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */
a img {
  border: 0;
}

/* line 74 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 75 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */
mark,
m,
meter,
progress,
small,
time {
  display: inline;
}

/* line 78 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */
body,
div,
span,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 84 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/reset.styl */

/* line 84 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
@font-face {
  font-family: 'icons';
  src: url("/lib/icons/font/icons.eot");
  src: url("/lib/icons/font/icons.eot?#iefix") format('embedded-opentype'), url("/lib/icons/font/icons.woff") format('woff'), url("/lib/icons/font/icons.ttf") format('truetype'), url("/lib/icons/font/icons.svg#icons") format('svg');
  font-weight: normal;
  font-style: normal;
}

/* line 26 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
.font-family--sans,
body,
select,
input,
textarea {
  font-family: "Lato", Tahoma, Arial, Helvetica, "Nimbus Sans L", "Free Sans", Sans-Serif;
}

/* line 28 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
.font-family--serif,
blockquote {
  font-family: Georgia, Serif;
}

/* line 36 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 38 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
html {
  overflow-y: scroll;
}

/* line 41 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */

/* line 44 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
body {
  color: #444;
  font-size: 125%;
/*17px*/
  font-weight: 300;
  line-height: 1.5;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 53 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
body.acc-med {
  font-size: 0.92em;
}

/* line 54 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
body.acc-large {
  font-size: 1.1em;
}

/* line 56 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

/* line 61 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
::-moz-selection {
  background: #009cc7;
  color: #fff;
  text-shadow: none;
}

/* line 62 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
::selection {
  background: #009cc7;
  color: #fff;
  text-shadow: none;
}

/* line 65 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
a {
  outline: none;
}

/* line 66 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
a:active,
a:hover {
  outline: none;
}

/* line 68 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
a {
  -webkit-transition: all 0.1s ease-in-out;
}

/* line 71 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
a,
a:visited,
a:link {
  color: #00adef;
  text-decoration: none;
}

/* line 72 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
a:focus,
a:hover,
a:active {
  color: #333;
}

/* line 75 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
a img {
  border: none;
}

/* line 78 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
a:link {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

/* line 82 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
blockquote {
  position: relative;
}

/* line 86 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
blockquote p {
  color: #000;
  font-size: 1.2em;
  line-height: 1;
  padding: 10px 50px 25px 40px;
  font-style: italic;
  letter-spacing: -0.02em;
}

/* line 95 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
blockquote:before {
  content: "\201F";
  color: #00adef;
  font-style: italic;
  font-size: 4em;
  position: absolute;
  top: -12px;
  left: -12px;
  width: 1em;
}

/* line 111 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 112 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
object,
embed,
img {
  max-width: 100%;
}

/* line 115 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
p {
  margin: 0;
  padding: 0 0 15px;
}

/* line 116 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
article p {
  text-align: justify;
}

/* line 118 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
pre {
  white-space: pre;
/* CSS2 */
  white-space: pre-wrap;
/* CSS 2.1 */
  word-wrap: break-word;
/* IE */
}

/* line 124 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
small {
  font-size: 85%;
}

/* line 129 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* line 136 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* line 137 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
h1 {
  color: #000;
  font-size: 2.375em;
/* 24px */
  font-weight: normal;
  letter-spacing: 0.003em;
  line-height: 1;
/* 36px */
  margin: 0;
  padding: 0 0 10px;
}

/* line 146 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
h1 time {
  color: #888;
  text-transform: uppercase;
  font-size: 0.473684210526em;
}

/* line 152 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
h1 a,
h1 a:visited,
h1 a:link {
  color: #000;
}

/* line 156 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
h2 {
  color: #777;
  font-size: 1.429em;
/* 20px */
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.008em;
  line-height: 1.35;
  margin: 0;
  padding: 15px 0 5px;
}

/* line 166 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 8px;
}

/* line 172 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
h5 {
  margin: 0 0 5px;
}

/* line 184 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
dl {
  padding: 0 0 24px 0;
  zoom: 1;
}

/* line 185 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
dl:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 186 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
dt,
dd {
  float: left;
}

/* line 187 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
dt {
  font-weight: bold;
  padding-right: 12px;
}

/* line 188 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
dd {
  padding-right: 24px;
}

/* line 190 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
li {
  line-height: 1.5;
}

/* line 191 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
ol {
  padding: 10px 0 10px 23px;
}

/* line 192 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
ul {
  padding: 10px 0 10px 20px;
}

/* line 193 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */

/* line 194 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
ul li li {
  list-style-image: none;
  list-style-type: circle;
}

/* line 195 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
ul li li li {
  list-style-image: none;
  list-style-type: disc;
}

/* line 196 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
ul li li li li {
  list-style-image: none;
  list-style-type: square;
}

/* line 198 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
p+ol,
p+ul,
h2+ol,
h2+ul,
h3+ol,
h3+ul {
  padding-top: 0;
}

/* line 203 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
button,
select,
input,
textarea {
  font-size: 99%;
  font-family: inherit;
}

/* line 207 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
button {
  width: auto;
  overflow: visible;
}

/* line 210 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
input {
  vertical-align: middle;
}

/* line 213 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
textarea {
  vertical-align: 1px;
}

/* line 217 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 220 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

/* line 225 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 232 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
table {
  font-size: inherit;
  font: 100%;
}

/* line 233 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
table {
  border-bottom: solid 1px #fff;
  border-collapse: separate;
  clear: both;
  font-size: 0.9em;
  margin: 10px 0;
  padding: 0;
}

/* line 241 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
th {
  border-top: 1px solid #fff;
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1.2em;
  padding: 15px 5px;
  text-align: left;
}

/* line 249 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
td {
  border-top: dotted 1px #fff;
  border-bottom: dotted 1px #ccc;
  border-left: solid 1px #efefef;
  padding: 3px 5px;
}

/* line 255 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */
tr:nth-child(even) td {
  background-color: #eee;
}

/* line 258 : /Users/davetayls/projects/davetayls.github.com/_stylus/brand/brand.styl */

/* line 3 : /Users/davetayls/projects/davetayls.github.com/_stylus/components/icons.styl */

/* line 3 : /Users/davetayls/projects/davetayls.github.com/_stylus/components/icons.styl */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  line-height: 1em;
/* fix buttons height */
}

/* line 15 : /Users/davetayls/projects/davetayls.github.com/_stylus/components/icons.styl */
.icon-vcard:before {
  content: '\e722';
}

/* line 16 : /Users/davetayls/projects/davetayls.github.com/_stylus/components/icons.styl */
.icon-rss-alt:before {
  content: '\e73b';
}

/* line 17 : /Users/davetayls/projects/davetayls.github.com/_stylus/components/icons.styl */
.icon-twitter-bird:before {
  content: '\f303';
}

/* line 18 : /Users/davetayls/projects/davetayls.github.com/_stylus/components/icons.styl */
.icon-github:before {
  content: '\f308';
}

/* line 19 : /Users/davetayls/projects/davetayls.github.com/_stylus/components/icons.styl */
.icon-googleplus-rect:before {
  content: '\f309';
}

/* line 20 : /Users/davetayls/projects/davetayls.github.com/_stylus/components/icons.styl */
.icon-linkedin-rect:before {
  content: '\f31b';
}

/* line 21 : /Users/davetayls/projects/davetayls.github.com/_stylus/components/icons.styl */
.icon-graduation-cap:before {
  content: '';
}

/* line 22 : /Users/davetayls/projects/davetayls.github.com/_stylus/components/icons.styl */
.icon-book:before {
  content: '';
}

/* line 23 : /Users/davetayls/projects/davetayls.github.com/_stylus/components/icons.styl */
.icon-clock:before {
  content: '';
}
