.tmp*
Thumbs.db
/release
/Desktop.ini
/_site
/src/_site
/TestStation/testsite
/.project
/.settings
/src-build
node_modules
.idea
.jekyll-metadata

bower_components/**/.bower.json
bower_components/**/bower.json
bower_components/jquery/src
bower_components/jquery.kinetic/lib/jquery-ui

src/**/*.js
src/**/*.js.map
