---
layout: master
description: maker of stuff, often webby related, daddy and blessed to have a wife that makes lots of cakes mmmm
---
{% include components__HeroJobTitle.html %}
<div id="content"></div>
<section class="Container">
  <div class="pure-g">
    <div class="pure-u-1">
      <h2>Last Three Articles</h2>
      {% assign BrowsePostsList = site.posts %}
      {% include components__BrowsePosts.html limit=3 %}

      <h2>Exploring fp-ts Series</h2>
      {% assign BrowsePostsList = site.categories['exploring-fp-ts'] | sort: 'date' %}
      {% include components__BrowsePosts.html limit=30 %}

      <h2>Power of TypeScript for React Series</h2>
      {% assign BrowsePostsList = site.categories['power-of-typescript'] | sort: 'date' %}
      {% include components__BrowsePosts.html limit=30 %}

      <h2>Last Articles</h2>
      {% assign BrowsePostsList = site.posts %}
      {% include components__BrowsePosts.html limit=30 %}
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-lg-2-3">
      {% include components__ProductColumns.html %}
    </div>
    <div class="pure-u-1 pure-u-lg-1-3">
      {% include components__AwardsColumn.html %}
    </div>
  </div>
</section>
{% include components__ClientLogos.html %}
