---
layout: master
---

{% include components__HeroJobTitle.html %}
<div id="content"></div>
{% include components__ClientLogos.html %}
<section class="Container">
  <div class="pure-g">
    <div class="pure-u-1">
      <h2>React at Scale</h2>
      {% assign BrowsePostsList = site.categories['power-of-typescript'] | sort: 'date' %}
      {% include components__BrowsePosts.html limit=30 %}

      <h2>Leading Teams</h2>
      {% assign BrowsePostsList = site.categories['team'] | sort: 'date' %}
      {% include components__BrowsePosts.html limit=30 %}

      <h2>Functional JavaScript</h2>
      {% assign BrowsePostsList = site.categories['exploring-fp-ts'] | sort: 'date' %}
      {% include components__BrowsePosts.html limit=30 %}

      <h2>Recent Articles</h2>
      {% assign BrowsePostsList = site.posts %}
      {% include components__BrowsePosts.html limit=30 %}

      <h2>Awards</h2>
      {% include components__AwardsColumn.html %}
    </div>
  </div>
</section>


