
.LinkList {
  list-style: none outside;
  margin: 0;
  padding: 0;
}

.LinkList-item {
  display: block;
}

.LinkList--inline .LinkList-item {
  display: inline;
}

.LinkList--inline .LinkList-item:before {
  content: ', ';
}

.LinkList--inline .LinkList-item:first-child:before {
  content: '';
}

.LinkList--double {
  font-size: 0;
}

.LinkList--double .LinkList-item {
  font-size: 1rem;
  display: inline-block;
  width: 50%;
}
