<section class="aboutme">
  <h2 class="aboutme__header">Dave Taylor</h2>
  <p class="cp-avatar">
     <img src="http://1.gravatar.com/avatar/bbf81bc82fed795624ed696fe1e5aee0" alt="Dave Taylor" />
  </p>
  <p>
    <a href="/workwithme/">Lead/Senior HTML5 and NodeJs Developer</a>
    <br>
    <a href="/workwithme/">Work with me &raquo;</a>
  </p>
  <ul class="menu">
    <li> <a class="icon-vcard" href="/cv">CV</a></li>
    <li> <a class="icon-twitter-bird" href="http://twitter.com/davetayls" rel="me">Twitter</a> </li>
    <li> <a class="icon-linkedin-rect" href="http://www.linkedin.com/in/davetayls">LinkedIn</a> </li>
    <li> <a class="icon-github" href="http://github.com/davetayls">Github</a> </li>
  </ul>
</section>

