<section class="categories">
  <h2>Categories</h2>
  <div class="nav-categories menu">
    <ul>
      <li>
        <a href="/blog/category/thoughts/">Thoughts ({{ site.categories.thoughts | size }})</a>
      </li>
      <li>
        <a href="/blog/category/javascript/">JavaScript ({{ site.categories.javascript | size }})</a>
      </li>
      <li>
        <a href="/blog/category/responsivedesign/">Responsive Design ({{ site.categories.responsive | size }})</a>
      </li>
      <li>
        <a href="/blog/category/creativejs/">Creative JS ({{ site.categories.creativejs | size }})</a>
      </li>
      <li>
        <a href="/blog/category/nodejs/">Node.js ({{ site.categories.nodejs | size }})</a>
      </li>
      <li>
        <a href="/blog/category/jquery/">jQuery ({{ site.categories.jquery | size }})</a>
      </li>
      <li>
        <a href="/blog/category/project/">Projects ({{ site.categories.project | size }})</a>
      </li>
      <li>
        <a href="/blog/category/showreel/">Showreel ({{ site.categories.showreel | size }})</a>
      </li>
      <li>
        <a href="/blog/category/css/">CSS ({{ site.categories.css | size }})</a>
      </li>
      <li>
        <a href="/blog/category/releases/">Releases ({{ site.categories.releases | size }})</a>
      </li>
      <li>
        <a href="/blog/category/theyear/">The Year ({{ site.categories.theyear | size }})</a>
      </li>
    </ul>
  </div>
</section>
