
<section class="ProductList">
  {% for product in site.data.products %}
  <section class="ProductList-product">
    <h2 class="ProductList-name">{{ product.name }}</h2>
    <p class="ProductList-pitch">{{ product.pitch }}</p>
    <div class="Container">
      <div class="pure-g">
        <div class="pure-u-1 pure-u-lg-1-2">
          <div class="ProductList-info">
            {% if product.cost %}
            <div class="ProductList-cost">
              {{ product.cost }}
            </div>
            {% endif %}
            <ul class="ProductList-rewards">
              {% for reward in product.rewards %}
              <li>{{ reward }}</li>
              {% endfor %}
            </ul>
            {% assign RecommendationQuote = site.data.recommendation_quotes[product.quote] %}
            {% include components__RecommendationQuote.html %}
          </div>
        </div>
        <div class="pure-u-1 pure-u-lg-1-2">
          {{ product.about | markdownify }}
        </div>
      </div>
      <p class="ProductList-contact">
        <a class="Button Button@sm--isSmall" href="mailto:dave.taylor@pogokid.com?subject={{ product.name }}">Email me</a>
      </p>
    </div>
  </section>
  {% endfor %}
</section>
