<header class="PageHeader">
    <div class="PageHeader-inner">
        <div class="PageHeader-logo">
            <a href="/"><img src="/images/logo.png" alt="Dave Taylor" /></a>
        </div>
        <div class="PageHeader-toggle">
            {% include components__Burger.html %}
        </div>
        <nav class="PageHeader-nav">
            <ul class="PageHeader-firstList">
                <!--
                <li class="PageHeader-navItem">
                    <a accesskey="c" href="#content">Jump to main content [Access key 'C']</a>
                </li>
                -->
                <li class="PageHeader-navItem">
                    <a class="Button Button--isLink Button--isOnLight" accesskey="0" href="/">Home</a>
                </li>
            </ul>
            <ul class="PageHeader-secondList">
                <li class="PageHeader-navItem">
                    <a class="Button Button@sm--isSmall" href="/workwithus/">Work with me</a>
                </li>
            </ul>
        </nav>
        <div class="PageHeader-pageTitle">
            {% if page.title %}
            {{ page.title }}
            {% else %}
            {{ site.site_name }}
            {% endif %}
        </div>
    </div>
</header>
