            <div id="portfolio">
                <h2 class="visuallyhidden">Portfolio</h2>
				<div class="cp-promo">
					<ul class="cp-promo-controller cc">
						<li><a href="#lloyds">lloyds.com<br />Sitecore<br />CMS</a></li>
						<li><a href="#brc">British Red Cross</a></li>
			            <li><a href="#rct">Red Cross Training</a></li>
						<li><a href="#mands">M&amp;S<br />Your Green Idea</a></li>
						<li><a href="#juxtapo">juxtapo<br />Front-End Tools</a></li>
						<li><a href="#fairtrade">Fairtrade Stall</a></li>
					</ul>
					<div class="cp-promo-carousel"> 
					    <ul>
					        <li id="lloyds" class="cc">
					            <img src="portfolio/lloyds.png" alt="" />
								
					            <a class="cp-promo-label cc" href="http://www.lloyds.com">
					                <span class="cp-promo-bg"></span>
					                <span class="cp-promo-title">Lloyd&rsquo;s</span>
					                <span class="cp-promo-body"><span class="cp-promo-bodyWrapper">Sitecore CMS build of Lloyd&rsquo;s of London&rsquo;s website along with the migration of five in house applications.</span></span>
					                <span class="cp-promo-cta button-big"><span>View the site &gt;</span></span>
					            </a>
					        </li>
					        <li id="brc" class="cc">
					            <img src="portfolio/britishredcross.png" alt="british red cross" />
								
					            <a class="cp-promo-label cc" href="/blog/2010/08/18/british-red-cross-website-goes-live">
					                <span class="cp-promo-bg"></span>
					                <span class="cp-promo-title">British Red Cross</span>
					                <span class="cp-promo-body"><span class="cp-promo-bodyWrapper">Sitecore CMS build of the British Red Cross corporate site.</span></span>
					                <span class="cp-promo-cta button-big"><span>Read more on this post &gt;</span></span>
					            </a>
					        </li>
                  <li id="rct" class="cc">
                      <img src="portfolio/redcrosstraining.png" alt="" />
                
                      <a class="cp-promo-label cc" href="http://www.redcrossfirstaidtraining.co.uk/">
                          <span class="cp-promo-bg"></span>
                          <span class="cp-promo-title">British Red Cross Training</span>
                          <span class="cp-promo-body"><span class="cp-promo-bodyWrapper">Sitecore CMS build for the training arm of the British Red Cross.</span></span>
                          <span class="cp-promo-cta button-big"><span>View the site &gt;</span></span>
                      </a>
                  </li>
					        <li id="mands" class="cc">
					            <img src="portfolio/mandsyourgreenidea.png" alt="" />
								
					            <a class="cp-promo-label cc" href="http://www.yourgreenidea.co.uk">
					                <span class="cp-promo-bg"></span>
					                <span class="cp-promo-title">M&amp;S. Your Green Idea</span>
					                <span class="cp-promo-body"><span class="cp-promo-bodyWrapper">Marks and Spencer's new Plan A initiative</span></span>
					                <span class="cp-promo-cta button-big"><span>View the site &gt;</span></span>
					            </a>
					        </li>
					        <li id="juxtapo">
					            <img src="images/youtube.png" alt="" />
					            <a class="cp-promo-label" href="http://www.youtube.com/watch?v=no6InlWVSUo">
					                <span class="cp-promo-top"></span>
					                <span class="cp-promo-bg"></span>
					                <span class="cp-promo-btm"></span>
					                <span class="cp-promo-title">Juxtapo</span>
					                <span class="cp-promo-body"><span class="cp-promo-bodyWrapper">A personal open source project giving in-browser tools to assist while you're turning designs in to html/css</span></span>
					                <span class="cp-promo-cta button-big"><span>Go to site &gt;</span></span>
					            </a>
					        </li>
					        <li id="fairtrade">
					            <img src="portfolio/FairTrade.png" alt="" />
					            <span class="cp-promo-label">
					                <span class="cp-promo-top"></span>
					                <span class="cp-promo-bg"></span>
					                <span class="cp-promo-btm"></span>
					                <span class="cp-promo-title">Fair Trade Stall</span>
					                <span class="cp-promo-body"><span class="cp-promo-bodyWrapper">Leaflet design for local fairtrade stall.</span></span>
					                <span class="cp-promo-cta"></span>
					            </span>
					        </li>
					    </ul>
					</div>
				</div>
				
            </div>
