            {% if page.portfolio == 'small' %}
            <div id="portfolio" class="portfolioTsmall">
            {% else %}
            <div id="portfolio">
            {% endif %}
                <h2 class="visuallyhidden">Portfolio</h2>
				<div id="portfolio-window">
					<div id="portfolio-window-inner" class="cc">
						<div id="portfolio-window-inner-work">		
						    <a href="http://safety.networkrail.co.uk/" data-largeImage="/portfolio/networkrail.png" class="cp-workSquare">
							    <img src="/portfolio/networkrail.png" alt="Network Rail" />
                                <span>Front-End Additions for Network Rail&rsquo;s Safety Central including homepage promotional items</span>
						    </a>
						    <a href="http://www.lloyds.com/" class="cp-workSquare" data-largeImage="/portfolio/lloyds.png">
							    <img src="/portfolio/lloyds.png" alt="Lloyd&rsquo;s" />
                                <span>Sitecore CMS build of Lloyd&rsquo;s of London&rsquo;s website along with the migration of five in-house applications</span>
						    </a>
						    <a href="http://www.gabv.org/" data-largeImage="/portfolio/gabv.png" class="cp-workSquare">
							    <img src="/portfolio/gabv.png" alt="Global Alliance for Banking on Values" />
                                <span>Static site build for independent network of banks using finance to deliver sustainable development for unserved people, communities and the environment</span>
						    </a>
						    <a href="/blog/2010/08/18/british-red-cross-website-goes-live" class="cp-workSquare" data-largeImage="/portfolio/britishredcross.png">
							    <img src="/portfolio/britishredcross.png" alt="British Red Cross" />
                                <span>Sitecore CMS build of the British Red Cross corporate site</span>
						    </a>
						    <a href="http://www.redcrossfirstaidtraining.co.uk/" data-largeImage="/portfolio/redcrosstraining.png" class="cp-workSquare">
							    <img src="/portfolio/redcrosstraining.png" alt="Red Cross Training" />
                                <span>Sitecore CMS build for the training arm of the British Red Cross</span>
						    </a>
						    <a href="http://davidjtaylor.wordpress.com/2010/03/15/your-green-idea-flowers-bees-and-hijacking/" data-largeImage="/portfolio/mandsyourgreenidea.png" class="cp-workSquare">
							    <img src="/portfolio/mandsyourgreenidea.png" alt="M&amp;S. Your Green Idea" />
                                <span>A competition run as part of Marks and Spencer&rsquo;s Plan A initiative</span>
						    </a>
						    <a href="http://mcfc.co.uk/" data-largeImage="/portfolio/mcfc.png" class="cp-workSquare">
							    <img src="/portfolio/mcfc.png" alt="Manchester City FC" />
                                <span>Front-End optimisation and support for <abbr title="Manchester City Football Club">MCFC</abbr>&rsquo;s site</span>
						    </a>
						    <a href="http://www.icap.com/" data-largeImage="/portfolio/icap.png" class="cp-workSquare">
							    <img src="/portfolio/icap.png" alt="ICAP" />
                                <span>Front-End for <abbr>ICAP</abbr>&rsquo;s corporate and intranet sites</span>
						    </a>
						    <a href="http://www.moneyweek.com/" data-largeImage="/portfolio/moneyweek.png" class="cp-workSquare">
							    <img src="/portfolio/moneyweek.png" alt="Money Week" />
                                <span>Fron-End restructure and optimisation for Money Week&rsquo;s group of Sitecore sites</span>
						    </a>
						    <a href="http://ecademy.mcfc.co.uk/" data-largeImage="/portfolio/mcfcecademy.png" class="cp-workSquare">
							    <img src="/portfolio/mcfcecademy.png" alt="MCFC Ecademy" />
                                <span>Front-End build of new features for <abbr title="Manchester City Football Club">MCFC</abbr>&rsquo;s ecademy site</span>
						    </a>
						    <a href="http://www.freud.com/" data-largeImage="/portfolio/Freud.png" class="cp-workSquare">
							    <img src="/portfolio/Freud.png" alt="Freud Communications" />
                                <span>Custom Sharepoint web parts and applications for international communications company</span>
						    </a>
                        </div>
						<div id="portfolio-window-inner-other"></div>
					</div>
				</div>
				<div id="portfolio-detail"></div>			
				<div id="portfolio-tl"></div>	
                <div id="portfolio-tr"></div>   
                <div id="portfolio-bl"></div>   
                <div id="portfolio-br"></div>   
                <div id="portfolio-t"><span></span></div>   
                <div id="portfolio-r"></div>   
                <div id="portfolio-b"><span></span></div>   
                <div id="portfolio-l"></div>   
            </div>
