@value ResponsiveTabletFrom from '../../variables.pcss';

.RelatedPosts {
  margin: 0;
}

.RelatedPosts-header {
  font-weight: normal;
  margin: 0 1rem;
}

@media ResponsiveTabletFrom {

  .RelatedPosts {
    margin: 0 1rem;
  }

}
