
.HeroJobTitle {
  background-image: url(/content/2018/06-middleware-pipelines.jpg);
  background-size: cover;
  background-position: center center;
  height: 54vh;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.HeroJobTitle-container {
  height: 100%;
  position: relative;
  z-index: 2;
}

.HeroJobTitle-inner {
  box-sizing: border-box;
  padding: $BaseSpacing 0;
  position: absolute;
  bottom: $BaseSpacing;
  left: 0;
}
.HeroJobTitle-title {
  color: #fff;
  border-top: solid 3px #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
  background: rgba(0,0,0,0.7);
  height: auto;
  margin: 0;
  padding: $BaseSpacing;
  z-index: 2;
  font-weight: 300;
}

.HeroJobTitle-title-name {
  display: block;
  font-size: 2rem;
  letter-spacing: -0.03em;
}

.HeroJobTitle-title-job {
  font-size: 1.4rem;
  display: block;
}

.HeroJobTitle-iBelieve {
  color: #fff;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  text-shadow: 0 0 2px #000;
  min-height: 2.4rem;
}

.HeroJobTitle-iBelieveTitle {
  color: #fff;
  font-style: italic;
  margin: 0;
}

.HeroJobTitle-video {
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, 0);
  display: none;
}

@media (--MediaFromMedium) {

  .HeroJobTitle-title-name {
    font-size: 2.4rem;
  }

  .HeroJobTitle-iBelieve {
    font-size: 1.6rem;
    min-height: 5rem;
  }

  .HeroJobTitle-video {
    display: block;
  }

}
