
.WorkWithMeFooter {
  margin: 2rem 1rem;
}

.WorkWithMeFooter-cta {
  padding: 0 1rem;
  position: relative;
}

.WorkWithMeFooter-cta:before,
.WorkWithMeFooter-cta:after {
  content: '';
  display: block;
  border-top: solid 4px $ColorCore;
  position: absolute;
  top: 48%;
  width: .6rem;
}

.WorkWithMeFooter-cta:before {
  left: 0;
}

.WorkWithMeFooter-cta:after {
  right: 0;

}

.WorkWithMeFooter-info,
.WorkWithMeFooter-recent {
  margin: 0;
}

@media (min-width: $ResponsiveTabletFrom) {

  .WorkWithMeFooter {
    margin: 2rem;
  }

  .WorkWithMeFooter-cta {
    padding: 0 30%;
  }

  .WorkWithMeFooter-cta:before,
  .WorkWithMeFooter-cta:after {
    width: 29%;
  }

  .WorkWithMeFooter-info,
  .WorkWithMeFooter-recent {
    margin: 0 4rem;
  }

}

